/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book-library .white{
	
	height:20px;
	background-color:#ffffff;
}


h1{
	text-align:center;
}


.book{
	h2{
		margin-left:10px;
		font-weight:900;
		margin-bottom:0px;
		padding-bottom:0px;
	}
	p{
		margin-left:10px;
		color:#777777;
		margin-top:0;
	}
}


.image{
	margin:10px;
	text-align:center;
}

.price{
	text-align:center;
	background-color:#2ecc71;
	margin:10px;
}
