body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.book-library {
    background-color: #ffffff;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.book {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 10px;
}

.image {
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

h2 {
    margin-left: 10px;
    font-weight: 900;
    margin-bottom: 5px;
}

p {
    margin-left: 10px;
    color: #777777;
    margin-top: 0;
}

.price {
    text-align: center;
    background-color: #2ecc71;
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}