body{
	margin:0;
	padding:0;
	box-sizing:border-box;body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color:#f8f8f8;
}

h1{
    text-align:center;
}

.white{
    background-color:white;
    height:20px;
}

img{
    margin-top:20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

p{
    color:#777777;
    margin:0;
    padding-left:10px;
}

h2{
    padding-left:10px;
    margin:0;
}

.price{
    color:white;
    border-radius:3px;
    padding-top:9px;
    margin-left:10px;
    margin-right:10px;
    height:30px;
    text-align:center;
    background-color:#2ecc71;
    margin-bottom:25px;
}

.book{
    border-bottom:1px solid #ddd;
}

	background-color:#f8f8f8;
}

h1{
	text-align:center;
}

.book-library{
	/* background-color:#ffffff; */
}

.white{
	background-color:white;
	height:20px;
}

img{
	margin-top:20px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

p{
	color:#777777;
	margin:0;
	padding-left:10px;
}

h2{
	padding-left:10px;
	margin:0;
}

.price{
	color:white;
	border-radius:3px;
	padding-top:9px;
	margin-left:10px;
	margin-right:10px;
	height:30px;
	text-align:center;
	background-color:#2ecc71;
	margin-bottom:25px;
}

.book{
	margin:0;
}
