/*  your css code here. If applicable */

.book-library{
	background-color:#f8f8f8;
	margin:0;
}

h1{
	text-align:center;
}

.book{
	h2{
		
		font-weight:900;
		margin-bottom:0px;
		padding-bottom:0px;
	}
	p{
		color:gray;
		margin-top:0;
	}
}

.white{
	height:20px;
	background-color:white;
}

.image{
	margin:10px;
	text-align:center;
}

.price{
	text-align:center;
	background-color:limegreen;
	margin:10px;
}
